.admin-table-container {
    width: 100%; 
    padding: var(--space) var(--space);
}

.admin-table th:nth-child(1),
.admin-table td:nth-child(1) {
    width: 10%; 
}

.admin-table th,
.admin-table td {
    width: 45%; 
    box-sizing: border-box;
    text-align: center;
}

.user-table th, .admin-table th {
    text-align: center;
}

.admin-show-container {
    width: 100%; 
}

.admin-table-container-show {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    border-radius: var(--radius-m);
    margin: var(--space-s);
}

.table-row {
    display: flex;
    align-items: center;
}

.table-row:not(:last-child) {
    border-bottom: 1px solid #000000;
}

.table-header {
    width: 33.33%; /* 1/3 de la largeur */
    text-align: left;
    margin: var(--space);
}

.table-data {
    width: 66.66%; /* 2/3 de la largeur */
    max-width: 100%;
    word-break: break-all;
    margin: var(--space);
}

.admin-user-section {
    max-width: 100%;
}

.info-profil {
    display: flex;
}

.info-profil span:first-child {
    text-align: left;
}

.info-profil span {
    flex: 1; 
    word-break: break-all;
}

.admin-img-container {
    height: 275px;
}

.admin-img {
    max-height: 275px;
}