/*
	(composante) */

/* Bouton submit dans les formulaires */
.btn-submit {
    background-color: var(--purple-blue);
    box-shadow: 0px 0px 2px 0px var(--purple-blue);
    padding: calc(var(--space-xs) - 2px) calc(var(--space-s) - 2px) calc(var(--space-xs) - 2px) calc(var(--space-s) - 2px);
    border: 2px solid transparent;
    color: var(--white);
    font-size: 1rem;
    border-radius: var(--radius-s);
    min-width: 100%;
    margin-top: var(--space-s);
    margin-bottom: var(--space-s);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.btn-submit:hover {
    border-color: var(--purple-blue); /* Changement de border à border-color */
    box-shadow: 0px 0px 2px 0px var(--purple-blue);
    background-color: white;
    color: black;
}

/* Bouton dans <Header> - Ex.: "<- celliers" */
.btn-arrow-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: 2px solid black; */
    border-radius: var(--radius-wide);
    gap: var(--space-s);
    min-width: 100%;
    padding: 0 var(--space-sx) 0 var(--space-sx);
    /* Ajout de la transition pour padding-left */
    transition: gap 0.3s ease-in-out, padding-left 0.3s ease-in-out;
}
.btn-arrow-top>svg {
    position: absolute;
    left: var(--space-s);
    top: 50%;
    transform: translateY(-50%); /* Pour le centrer verticalement */
    transition: left 0.3s ease-in-out;
}
header>.btn-arrow-top:hover svg {
    left: var(--space-xs);
}

/* Bouton "direction" avec une flèche; Ex.: "Voir vos cellier ->" */
.btn-arrow {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    gap: var(--space-s);
    min-width: 100%;
    padding: var(--space-s) var(--space) var(--space-s) var(--space);
    padding-right: var(--space);
    transition: gap 0.3s ease-in-out, padding-right 0.3s ease-in-out;
    /* box-shadow: 0px 0px 2px 0px var(--purple-blue); */
}
.btn-arrow:hover {
    padding-right: var(--space-s);
}

/* Ex.: Bouton "+ AJOUTER UN CELLIER" */
.btn-action {
    display: flex;
    justify-content: center;
    gap: var(--space-s);
    min-width: 100%;
    /* padding de sorte que le bouton ne bouge pas en hover */
    padding: calc(var(--space-s) - 2px) calc(var(--space) - 2px) calc(var(--space-s) - 2px) calc(var(--space) - 2px);
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn-action:hover {
    border-color: var(--purple-blue); /* Changement de border à border-color */
    background-color: white;
    color: var(--purple-blue);
    box-shadow: 0px 0px 2px 0px var(--purple-blue);
}

/* bouton arrondi de base */
.btn-round {
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--purple-blue);
    box-shadow: 0px 0px 2px 0px var(--purple-blue);
    color: white;
    border-radius: var(--radius-wide);
    /* box-shadow: none; */
}

/* Boutons dans le carousel de l'accueil */
.btn-prev {
    left: 0;
}
.btn-next {
    right: 0;
}

/* Bouton pour modifier le nom du cellier ou de la liste */
.btn-modify {
    margin: var(--space-s) 0;
    position: relative;
    min-width: 100%;
}
.btn-modify svg {
    position: absolute;
    right: var(--space-s); /* Positionner le SVG à la limite droite de la balise h1 */
    top: 50%;
    transform: translateY(-50%); /* Pour le centrer verticalement par rapport au texte */
}

/* boutons - et + dans les card-bouteille */
.btn-decrement, .btn-increment {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    border: none;
    background-color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-decrement:hover, .btn-increment:hover {
    background-color: #919191;
    color: black;
}

/* icone poubelle et button DEPLACER */
.btn-delete, .btn-deplacer {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    right: 20px;
}
.btn-deplacer {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
}

/* Bouton "+ AJOUTER" sur les cartes */
.btn-ajouter {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--purple-blue);
    box-shadow: 0px 0px 2px 0px var(--purple-blue);
    color: white;
    border-radius: var(--radius-wide);
    padding: var(--space-xs) var(--space-s);
    width: 8rem;
}

/* Pour fenêtres modales */
.btn-modal-container {
    display: flex;
    min-width: 100%;
    gap: var(--space-xs);
    margin-top: var(--space-s);
}
.btn-modal-container button {
    text-transform: uppercase;
    border-radius: var(--radius-s);
    padding: .5em 0;
    font-weight: bold;
    /* background-color: black; */
    color: white;
    font-size: 16px;
}
.btn-modal-container button:not(.btn-red, .btn-green) {
    background-color: var(--purple-blue);
    box-shadow: 0px 0px 2px 0px var(--purple-blue);
}
.btn-modal-action {
    flex-grow: 2;
}
.btn-modal-cancel {
    flex-grow: 1;
}

/* Bouton reset pour les filtres */
.btn-reset {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    padding: var(--space-xs) var(--space-s);
    border-radius: var(--radius-m);
    margin-top: var(--space-s);
    cursor: pointer;
}

/* COULEURS =============================================================================== */
.btn-grey {
    background-color: var(--purple-blue-pale);
    color: black;
}
.btn-grey:hover {
    border-color: grey;
    background-color: grey;
    color: black;
}

.btn-red {
    background-color: rgba(213, 0, 0, 1);
}
.btn-red:hover {
    border-color: rgb(197, 23, 23);
    background-color: rgb(197, 23, 23);
    color: white;
}

.btn-green {
    background-color: rgba(45, 142, 0, 1);
}
.btn-green:hover {
    border-color: rgb(34, 108, 0);
    background-color: rgb(34, 108, 0);
}

.btn-mt {
    margin-top: var(--space);
}

/* Boutons dans le cellier: "Voir bouteilles personnalisées" et "Voir bouteilles SAQ" */
.btn-cellier {
    font-size: 12px;
    border: .5px solid black;
    border-radius: 4px;
    background-color: white;
    padding: var(--space-xs) var(--space-s);
    cursor: pointer;
}
/* Container pour bouton ancre btn-cellier */
.btn-cellier-container {
    min-width: 100%;
}
.btn-cellier-container span {
    display: flex;
    justify-content: right;
}

/* Bouton x pour supprimer commentaire */

.btn-c-delete {
    position: absolute;
    top: var(--space-s);
    right: 1rem;
    font-size: var(--space);
    cursor: pointer;
}

