/*
	(composante) */


/* CARTE APERÇU DANS /CELLIERS et /LISTES ======================================================= */

.card-cellier {
    color: white;
    background-color: var(--purple-blue-pale);
    border: none;
    border-radius: var(--radius-s);
    color: black;
    position: relative; /* Pour que le SVG soit positionné par rapport au lien <a> */
}
.card-cellier .card-container-qt {
    border-left: none;
    font-weight: normal;
}
.card-cellier .card-container-total {
    border-right: .5px solid black;
    font-weight: normal;
}
.card-container-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-container-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    font-weight: bold;
}
.card-container-qt {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-xs);
    border-left: .5px solid black;
    font-weight: bold;
}
.card-container-qt div span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space);
}
.card-arrow-icon {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: var(--space); /* Pour le positionner à droite avec un peu d'espace */
    transition: right 0.3s ease-in-out; /* Ajout de la transition */
}
.card-cellier a:hover .card-arrow-icon {
    right: var(--space-s); /* Pour le déplacer légèrement vers la droite lors du survol */
}


/* CARTES BOUTEILLES ======================================================================= */

/* Ex. 12 bouteilles: */
.card-count {
    min-width: 100%;
    text-align: left;
}
/* carte bouteille */
.card-bouteille {
    display: flex;
    border-radius: var(--radius-s);
    border: 1px solid var(--purple-blue);
    text-align: left;
    position: relative;
    align-items: center;
}
.card-bouteille picture {
    margin: 0 var(--space-xs);
}
.card-bouteille img {
    height: 120px;
}
.card-bouteille a:not(.btn-ajouter) {
    text-decoration: underline;
}
.card-bouteille-info> * + * {
    margin-top: var(--space-xs);
    font-size: 12px;
}
.card-bouteille-info p {
    font-size: 16px;
}
.card-bouteille-label { /* "Bouteilles SAQ" ou "Bouteilles personnalisées" */
    min-width: 100%;
    /* font-family: Helvetica; */
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
}

/* CARTE BOUTEILLE seulement dans CELLIERS ou LISTES */
.card-bouteille-qt {
    display: flex;
    align-items: center;
}
.card-bouteille-qt input {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 var(--space-s);
}
/* Lorsqu'il y a zéro bouteille */
.card-transparent {
    opacity: 0.5;
}

/* CARTE BOUTEILLE seulement dans /BOUTEILLES */
.card-bouteille-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-xs);
}

/* Conteneur des CARTES BOUTEILLES */
.card-container {
    min-width: 100%;
}
.card-container>div {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}