.carousel-container {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s;
}

.carousel-slide {
    min-width: 100%;
    text-align: center;
    margin: var(--space-s) 0;
}

.carousel-slide img {
    height: 100px;
    display: block;
    margin: 0 auto;
}

.carousel-slide p {
    margin-top: var(--space-s);
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
}