.fiche-main-info {
    display: flex;
    border: none;
    justify-content: space-around;
}
.fiche-main-info picture {
    flex: 40%;
    display: flex;
    justify-content: center;
}
.fiche-main-info>div {
    flex: 60%;
}
.fiche-picture {
    position: relative;
}
.fiche-picture svg {
    position: absolute;
    bottom: 0;
    left: 0;
}


table {
    /* border-collapse: collapse; */
    /* border: 1px solid black; */
	/* border-radius: var(--radius-m); */
}


th {
    width: 40%;
}
td {
    width: 60%;
}

table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:10px;
    border-spacing: 0;
    min-width: 100%;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
    padding: var(--space-s) var(--space);
    text-align: left;
}

td:first-child, th:first-child {
     border-left: none;
}

tr:first-child th, tr:first-child td {
    border-top: none;
}