.fiche-main-info {
    display: flex;
    border: none;
    justify-content: space-around;
}
.fiche-main-info picture {
    flex: 40%;
    display: flex;
    justify-content: center;
}
.fiche-main-info>div {
    flex: 60%;
}
.fiche-picture {
    position: relative;
}
.fiche-picture svg {
    position: absolute;
    bottom: 0;
    left: 0;
}

th {
    width: 40%;
}
td {
    width: 60%;
}

table {
    border-collapse:separate;
    border:solid var(--purple-blue) 1px;
    border-radius:10px;
    border-spacing: 0;
    min-width: 100%;
}

td, th {
    border-left:solid var(--purple-blue) 1px;
    border-top:solid var(--purple-blue) 1px;
    padding: var(--space-s) var(--space);
    text-align: left;
}

td:first-child, th:first-child {
     border-left: none;
}

tr:first-child th, tr:first-child td {
    border-top: none;
}

.fiche-note-container {
    min-width: 100%;
    position: relative;
    background-color: rgb(248, 249, 219);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0;
    border: none;
    margin: var(--space);
}
.fiche-note-container input[type="text"] {
    padding: var(--space-s) var(--space);
    background-color: rgb(248, 249, 219);
    font-size: 14px;
    border-color: rgb(138, 138, 138);
}
.fiche-note-container p {
    font-size: 14px;
}