/*
	(composante) */

/* form button -> voir btn.css */

.form-forgot-psw {
    display: flex;
    justify-content: flex-end;
}

.form-forgot-psw a {
    text-align: right;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space) var(--space);
    min-width: 100%;
}

.form-container-welcome {
    padding-top: 0;
}

form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}
.form-input-container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
    margin-top: var(--space-s);
}
.form-input-container input:not(input[type='range'], .fiche-note-container input[type="text"]) {
    padding: var(--space-xs) var(--space-s);
    background-color: rgba(255, 255, 255, 0.75);
}
.form-input-container select {
    background-color: rgba(255, 255, 255, 0.75);
    border: 0.5px solid #000;
    padding: var(--space-xs) var(--space-s);
    border-radius: var(--radius-m);
    width: 100%;
}
option {
    word-wrap: break-word;
    white-space: normal;
    overflow: auto;
    max-width: 100%;
}

.form-input-container input[type='number'] {
    border-radius: var(--radius-s);
}

form
    input:not(
        .card-bouteille-qt input,
        .form-range-input input,
        .form-range-number input
    ) {
    min-width: 100%;
    border: 0.5px solid var(--black);
}

form label,
summary {
    text-transform: uppercase;
    font-size: 12px;
}

.form-border {
    border: 0.5px black solid;
    border-radius: var(--radius-m);
}

.form-button {
    flex-grow: 1;
    align-items: flex-end;
}

/* seulement pour les h1 qui est titre du formulaire */
.form-h1 {
    margin-top: var(--space);
}

.form-ajouter-bouteille {
    padding-bottom: var(--space);
    max-width: 100%;
    border: none;
}

.form-ajouter-bouteille div.form-container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}

summary {
    list-style: none;
    cursor: pointer;
}
summary::after {
    content: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.999511L4.70454 4.70405C5.14204 5.14155 5.85795 5.14155 6.29545 4.70405L10 0.999512' stroke='black' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    float: right;
    margin-right: 0.5em;
}
details[open] summary::after {
    content: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 5.03223L6.29546 1.32769C5.85796 0.890186 5.14205 0.890186 4.70455 1.32769L1 5.03223' stroke='black' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    float: right;
}
details {
    text-transform: uppercase;
    text-align: left;
}

/* MODALE AJOUTER */
.form-modal {
    margin: 0 var(--space-s) 0 var(--space-s) var(--space);
    padding: var(--space) var(--space-s) 0 var(--space-s);
}

.form-radio {
    display: flex;
}
.form-radio input[type="radio"],
.form-radio label {
    min-width: auto;
    display: inline-block;
    margin-right: var(--space-s);
}

/* SLIDER */
.form-range {
    min-width: 100%;
    margin-top: var(--space);
}
.form-range-slider {
    height: var(--space-xs);
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}
.form-range-selected {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: var(--radius-s);
    background-color: #1b53c0;
}

.form-range-input {
    position: relative;
}
.form-range-input input {
    position: absolute;
    width: 100%;
    height: var(--space-xs);
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.form-range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}
.form-range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
}
.form-range-number {
    display: flex;
    justify-content: space-between;
    margin: var(--space) 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.form-range-number label {
    margin-right: var(--space-xs);
}
.form-range-number input {
    border: 0.5px solid black;
    width: 100px;
    padding: var(--space-xs);
}

/* entre search et filter */
.form-mb {
    margin-bottom: var(--space-s);
}

.error-message {
    color: red;
    text-align: left;
}

/* texte p dans formulaire "Signaler un problème" */
.form-p {
    text-align: left;
    margin-bottom: var(--space-s);
}
