/* liens qui ne sont pas visuellement des boutons */
/* Ex.: "LOCALISER UN SAQ" */

.link:not(.link-right) {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: var(--space-s);
    margin-bottom:  var(--space);
    text-decoration: underline;
}
.link-right {
    text-align: right;
    padding-right:  var(--space);
    font-size: 14px;
    min-width: 100%;
}
.link a {
    text-decoration: underline;
}

form.link {
    font-size: 12px;
}

.link-intro {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}