.modal h2 {
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: var(--space-s);
}

.modal {
    border-radius: var(--radius-m);
}
.modal:focus {
    outline: none; /* Supprime l'outline */
}
.modal img {
    max-height: 400px;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

dialog {
    margin-top: 10%;
    width: 100%;
}

dialog {
	min-width: 100%;
	padding:  var(--space);
	border: none;
    box-shadow: 0px 0px 25px 0px white;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5); /* fond semi-transparent noir */
}

dialog p {
    text-align: left;
    margin:  var(--space)  var(--space) var(--space-s)  var(--space);
}

/* style pour fermer le modal avec une croix en haut à droite */
.modal-close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 2rem;
    color: black;
    cursor: pointer;
    border-radius: var(--radius-s);
}

dialog[id="zoomModal"] {
    position: relative;
}
/* style pour assombrir l'image lorsqu'elle est survolée */
.zoomable-image:hover {
    opacity: 0.7;
    transition: 0.3s;
    cursor: zoom-in;
}
