.nav-list {
    grid-template-columns: repeat(5, minmax(20%, auto));
}

.nav-list,
.nav-admin-list {
    width: 100%;
    display: grid;
    position: fixed;
    bottom: 0;
    padding-bottom: 0.5em;
    background-color: var(--off-white);
}

.nav-admin-list {
    grid-template-columns: repeat(4, minmax(20%, auto));
}

.nav-item {
    list-style: none;
    font-weight: lighter;
}

.nav-item a {
    text-decoration: none;
}

.nav-icon-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.35em;
}

.active,
.nav-active {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: .5em;
}

.nav-margin {
    margin-bottom: 85px;
}