div[id="snackbar"] {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: var(--space-s);
    font-family: helvetica;
    visibility: hidden;
    min-width: 200px;
    background-color: rgba(202, 205, 239, 1);
    color: black;
    text-align: left;
    border-radius: var(--radius-s);
    padding: var(--space-s) var(--space-wide);
    position: fixed;
    z-index: 1;
    left: var(--space-s);
    bottom: 85px;
    font-size: 14px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
div[id="snackbar"].show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
    animation: fadein 0.5s, fadeout 0.5s 3s;
}
   
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 85px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 85px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 85px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 85px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* Animation pour nav-item qui saute */
@keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.jump-animation {
    animation: jump 0.5s ease;
}