/*	(toute valeur se répétant plus que 3 fois
  	 devrait se retrouver ici) */

:root {
    --black: #000000;
    --light-red: #8F002A; 
    --light-red-opacity: rgba(143, 0, 42, 0.5);
    --dark-red: #580019; 
    --dark-red-opacity: rgba(88, 0, 25, 0.5);
    --white: #FEFEFF;

    /* --purple-blue: rgba(82, 90, 162, 1); */
    --purple-blue: rgba(63, 71, 140, 1);
    --purple-blue-pale: rgba(156, 161, 205, 1);
    --off-white: rgb(248, 248, 241);

    --space-xs: .25rem; 
    --space-s: .5rem; 
    --space: 1rem; 
    --space-wide: 2rem; 
    --h1-size: 20px;

    --radius-s: 5px;
    --radius-m: 10px;
    --radius-wide: 25px;
    }

/* .bg-jaune {
    background: radial-gradient(50% 50% at 50% 50%, #FEFFB6 0%, rgba(255, 255, 255, 0) 80%);
}
.bg-rouge {
    background: 
        radial-gradient(50% 50% at 50% 50%, 
        rgba(225, 99, 99, .6) 0%, rgba(225, 99, 99, .2) 40%, 
        rgba(255, 255, 255, 0) 80% );
}
.bg-rose {
    background: 
        radial-gradient(50% 50% at 50% 50%, 
        rgba(255, 117, 183, .7) 0%, rgba(255, 117, 183, .2) 40%,
        rgba(217, 217, 217, 0) 80%);
} */

