.welcome {
    padding: 0 3rem;
}

.welcome-title {
    font-size: 2rem;
    margin-top: var(--space-wide);
}

.welcome-vino {
    font-family: "dreamboat", sans-serif;
    font-weight: 900;
}

.welcome-animation-container {
    position: relative;
    margin-top: var(--space);
}

/* .welcome-animation-container svg, */
.welcome-animation-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-img-container {
    height: 180px;
}

/* à résoudre */
.welcome-img {
    max-height: 170px;
    mix-blend-mode: multiply;
}
.welcome-rounded-text {
    font-family: "Helvetica";
    width: 18rem;
    height: 18rem;
    text-transform: uppercase;
    transform: rotate(-103deg);
    color: rgba(95, 72, 190, 1);
    z-index: -1;
    font-weight: bold;
}
.white {
    fill: rgba(95, 72, 190, 1);
}
.yellow {
    fill: #ffda2a;
}
.green {
    fill: rgba(144, 125, 28, 1)
}
@keyframes rotating {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.rotating {
    animation: rotating 12s linear infinite;
}
@keyframes coloring {
    0% {
        fill: var(--purple-blue);
    }
    50% {
        fill: rgb(119, 93, 224);
    }
    100% {
        fill: var(--purple-blue);
    }
}
.coloring {
    animation: coloring 12s linear infinite;
}

